<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <settings>
      <setting name="mapUnderscoreToCamelCase" value="true"/>
   </settings>




   <typeAliases>
      <typeAlias type="kr.ac.kopo.jogiyo.model.Member" alias="Member" />
      <typeAlias type="kr.ac.kopo.jogiyo.model.Category" alias="Category" />
      <typeAlias type="kr.ac.kopo.jogiyo.model.Store" alias="Store" />
      <typeAlias type="kr.ac.kopo.jogiyo.model.Product" alias="Product" />
      <typeAlias type="kr.ac.kopo.jogiyo.model.ProductImage" alias="ProductImage" />
   </typeAliases>

   <mappers>
      <mapper resource="mybatis/member.xml" />
      <mapper resource="mybatis/category.xml" />
      <mapper resource="mybatis/store.xml" />
      <mapper resource="mybatis/product.xml" />
      <mapper resource="mybatis/product_image.xml" />
   </mappers>
</configuration>